@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

@import 'tailwindcss';
/* @plugin '@tailwindcss/forms'; */
/* @plugin '@tailwindcss/typography'; */

@theme {
    --font-sans: "Urbanist", "sans-serif";
    --color-primary: #F58233;
    --color-secondary: #e1ff00;
    --animate-spin: spin 4s linear infinite;
    --spacing-8xl: 86rem;
    --spacing-9xl: 94rem;
}

@utility no-scrollbar {
  @apply [scrollbar-width:none] [&::-webkit-scrollbar]:hidden;
}

@utility scrollbar-hidden {
  &::-webkit-scrollbar {
    display: none;
  }
}

[animate-in] {
  opacity: 0;
}